---
consumes:
- application/json
info:
  description: TON public api
  title: TON public APIs
  version: 0.0.1
  x-logo:
    url: "https://explorer.tengram.com/TENGRAM_logo.svg"
    altText: "Tengram"
produces:
- application/json
schemes:
- https
swagger: "2.0"
basePath: /
host: public-api.tengram.com

definitions:
  AccountWhale:
    description: ""
    type: object
    properties:
      addr_raw:
        type: string
        description: "Raw whale account address."
      addr_uf:
        type: string
        description: "User-friendly whale account address."
      balance_gram:
        type: string


  AddrTopByMessageCountResponse:
    description: ""
    type: object
    properties:
      top_in:
        type: array
        items:
          $ref: "#/definitions/AddrCount"
      top_out:
        type: array
        items:
          $ref: "#/definitions/AddrCount"

  AddrCount:
    description: ""
    type: object
    properties:
      workchain_id:
        type: integer
        format: int32
      addr:
        type: string
      addr_uf:
        type: string
        description: "User-friendly account address."
      count:
        type: integer
        format: int64

  MessageFeedGlobal:
    description: ""
    type: object
    properties:
      workchain_id:
        type: integer
        format: int32
      shard:
        type: integer
        format: int64
      seq_no:
        type: integer
        format: int64
      lt:
        type: integer
        format: int64
      time:
        type: integer
        format: int64
      direction:
        type: string
      src_workchain_id:
        type: string
      src:
        type: string
      src_uf:
        type: string
        description: "User-friendly source account address."
      dest_workchain_id:
        type: string
      dest:
        type: string
      dest_uf:
        type: string
        description: "User-friendly destination account address."
      value_grams:
        type: string
      total_fee_grams:
        type: string
      bounce:
        type: boolean

  MessagesByTypeResult:
    description: ""
    type: object
    properties:
      rows:
        type: array
        items:
          $ref: "#/definitions/MessagesByTypeTimeseries"

  MessagesByTypeTimeseries:
    type: object
    properties:
      workchain_id:
        description: "workchain_id"
        type: string
      type:
        description: "type"
        type: string
      time:
        description: "array of timestamps with 5 MINUTE step"
        $ref: "#/definitions/int64Array"
      messages_count:
        description: "array of messages count"
        $ref: "#/definitions/int64Array"

  VolumeByGramsResult:
    description: ""
    type: object
    properties:
      rows:
        type: array
        items:
          $ref: "#/definitions/VolumeByGramsTimeseries"

  VolumeByGramsTimeseries:
    type: object
    properties:
      workchain_id:
        description: "workchain_id"
        type: string
      time:
        description: "array of timestamps with 10 MINUTE step"
        $ref: "#/definitions/int64Array"
      volume_grams:
        description: "array of volume by grams"
        $ref: "#/definitions/stringArray"

  MessagesOrdCountResult:
    description: ""
    type: object
    properties:
      rows:
        type: array
        items:
          $ref: "#/definitions/MessagesOrdCountTimeseries"

  MessagesOrdCountTimeseries:
    type: object
    properties:
      workchain_id:
        description: "workchain_id"
        type: string
      time:
        description: "array of timestamps with 10 MINUTE step"
        $ref: "#/definitions/int64Array"
      count:
        description: "array of msg count"
        $ref: "#/definitions/int64Array"

  TimeseriesBlocksByWorkchain:
    description: ""
    type: object
    properties:
      time:
        description: "array of timestamps with 8 MINUTE step"
        $ref: "#/definitions/int64Array"
      masterchain:
        description: "array count blocks in masterchain"
        $ref: "#/definitions/int64Array"
      workchain0:
        description: "array count blocks in workchain 0"
        $ref: "#/definitions/int64Array"

  int64Array:
    description: "Int64 array type"
    type: array
    items:
      type: integer
      format: int64

  stringArray:
    description: "String array type"
    type: array
    items:
      type: string

  error:
    type: object
    required:
      - message
    properties:
      error:
        type: boolean
        description: "Error"
      message:
        type: string
        description: "Error message"

paths:
  /timeseries/blocks-by-workchain:
    get:
      summary: "Blocks by workchain"
      description: ""
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/TimeseriesBlocksByWorkchain"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"

  /timeseries/messages-by-type:
    get:
      summary: "Messages by type"
      description: ""
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/MessagesByTypeResult"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"

  /timeseries/volume-by-grams:
    get:
      summary: "Volume by grams"
      description: ""
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/VolumeByGramsResult"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"

  /timeseries/messages-ord-count:
    get:
      summary: "Messages ord count"
      description: ""
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/MessagesOrdCountResult"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"

  /messages/latest:
    get:
      summary: "Latest messages feed"
      description: ""
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/MessageFeedGlobal"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"

  /addr/top-by-message-count:
    get:
      summary: "Top account by message in/out"
      description: ""
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/AddrTopByMessageCountResponse"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"

  /top/whales:
    get:
      summary: "Top whales account by gram amount"
      description: ""
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/AccountWhale"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
